.center {
    margin: auto;
    margin-top: 20px;
    width: 35%;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px;
}

.header {
    text-align: center;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.form-submit:hover {
    background-color: #45a049;
}
  
.form-link {
    float: right;
    margin-top: 30px;
    color:#45a049
}